* {
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fdfdfd;
  min-width: 100vw;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu-bar {
  padding: 20px;
}

.menu-bar img {
  width: 35px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.heading {
  padding: 20px;
}

.content h1 {
  font-family: "Playfair Display", serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 57px;
}

.content .heading p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.first-btn {
  margin-left: 15px;
}

.first-btn button {
  background-color: #fff;
  width: 288px;
  height: 44px;
  color: #1a2236;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  border: none;
  border: #1a2236 solid 1px;
}

button:hover {
  background-color: #1a2236;
  color: white;
  border: #fff solid 1px;
}

button:active {
  background-color: #1a2236;
  border: white solid 2px;
}

button {
  margin: 20px;
}

.image {
  background: url("images/2.png");
  background-repeat: no-repeat;
  width: 100vw;
  height: 190px;
  margin-top: 5%;
}

/* Work section css starts from here */
.card-container {
  display: grid;
}

.grid-container {
  display: grid;
  column-gap: 50px;
  grid-template-columns: auto;
}

.card {
  background-color: white;
  border-radius: 5px;
}

.info h2 {
  color: white;
}

.card .header h2 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  margin-bottom: 30px;
  margin-left: 15px;
}

.dwnld_btn img {
  width: 24px;
  border: 2px solid #fff;
  box-sizing: border-box;
  margin-left: 25px;
}

.card .photo img {
  min-width: 385px;
}

.card .content {
  background-color: #1a2236;
  height: 180px;
  margin-top: -5px;
}

.skills h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
  color: white;
}

.card .content h3 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 80%;
  color: white;
  margin-left: 30px;
}

.info ul {
  list-style-type: circle;
  margin: 0;
  padding: 0;
}

.card .content ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  margin-left: 15px;
}

.card .content .item1,
.item2,
.item3 {
  background-color: #98dede;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 10.3334px;
  line-height: 80%;
  padding: 7px;
  width: 70px;
  margin: auto;
  color: #1a2236;
  margin-left: 20px;
}

.card .content button {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  background-color: #1a2236;
  color: #fff;
  border: 2px solid #fff;
  padding: 10px 20px;
  margin-left: 36px;
  margin-top: 10px;
}

.card .content button img {
  width: 20.57px;
  height: 15.35px;
}

.row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.column {
  flex: 1;
}

/* About_us section start */
.about {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
}

.about_para {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #1a2236;
  margin-top: 10px;
}

.about_bg {
  background-color: #fff;
}

.about-setngs {
  padding: 20px;
}

.dwnld_btn {
  display: flex;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  background-color: #1a2236;
  text-align: center;
  padding: 7px;
  width: 288px;
  margin-top: 20px;
  padding-left: 60px;
}

.skilss {
  display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 289px);
    justify-content: center;
    row-gap: 16px;
    margin: 16px;
    list-style: none;
}

.languages {
  background-color: #1c528a;
  background-image: url(images/languages1.png);
  background-position: bottom right;
  background-repeat: no-repeat;
}

.settings {
  margin-top: 21px;
  margin-left: 50px;
  list-style: disc;
}

.frameworks {
  background-color: #e2505c;
  background-image: url(images/frameworks.png);
  background-position: bottom right;
  background-repeat: no-repeat;
}

.tech_skills {
  background-color: #febf52;
  background-image: url(images/skills.png);
  background-position: bottom right;
  background-repeat: no-repeat;
}
/* Last form section starts from here */
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f9f9fa;
}

form {
  margin: 0 auto;
  padding: 1em;
  position: relative;
}

input {
  background-color: #fff;
  border: 1px solid #dfdfe0;
  border-radius: 4px;
  width: 288px;
  height: 52px;
}

input::placeholder {
  padding-left: 16px;
  top: 10px;
  margin-bottom: 10px;
}

textarea {
  background-color: #fff;
  border: 1px solid #dfdfe0;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  width: 288px;
  height: 112px;
  padding-top: 5px;
  padding-left: 15px;
}

label {
  position: absolute;
  padding-top: 5px;
  padding-left: 15px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
}

.mail-stng {
  padding-top: 20px;
}

#mail,
#message {
  margin-top: 15px;
}

input:hover,
textarea:hover {
  border: 1px solid #1a2236;
}

input:focus,
textarea:focus {
  border: 2px solid #1a2236;
}

.footer-container {
  background-color: #1a2236;
  min-width: 100vw;
  margin-top: 40px;
  min-height: 150px;
}

.downld-img-stng {
  margin-top: -40px;
  margin-left: 41%;
}

.icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 40px;
}
.footer-container h3 {
  color: #92dcdc;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-left: 16px;
}
